body {
    font-family: Arial, sans-serif;
  }
  
  /*header start  here*/
  header {
    background-color:#1ee8af;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center; /* Align items at the start and end */
    align-items: center;
  }
  
  #logo {
    width: 200px; /* Adjust logo size as needed */
    height: auto;
  }
  
  .header-content {
    text-align: center;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
  }
  /*header end  here*/



  #imageContainer {
    width: 98%;
    border: 10px solid  rgb(172, 234, 213);  /* Set border width and color */
    border-radius: 2px; /* Optionally, add border radius for rounded corners */
    display: flex;
    flex-direction:column-reverse; /* Arrange videos vertically */
    align-items: center; /* Center align the videos horizontally */
    gap: 20px;
  }


  .imageWithDescription {
    width: 98%;
    border: 5px solid rgb(172, 234, 213); /* Set border width and color */
    border-radius: 2px; /* Optionally, add border radius for rounded corners */
    display: flex;
    flex-direction: row-reverse;
    align-items: center; /* Align items at the start of the container */
    width: 100%; /* Ensure each container takes full width */
   justify-content: center;
  }


  /* image    container*/

  .image {
    border: 5px solid rgb(172, 234, 213); /* Set border width and color */
    border-radius: 2px; /* Optionally, add border radius for rounded corners */
    flex: 0 0 25%; /* Image takes 70% of the container */
    width: 1000%; /* Make sure image fills its container */
  }
  
  /*        image        */

  .image img {
    width: 100%; /* Make sure image fills its container */
    height: auto; /* Maintain aspect ratio */
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /*     description container  */

  .description {
    flex: 0 0 60%; /* Description takes 30% of the container */
    padding-left: 20px; /* Add space between image and description */
    border: 5px solid rgb(172, 234, 213); /* Set border width and color */
   border-radius: 2px; /* Optionally, add border radius for rounded corners */
  }
  
  /*
  

  */
  #backButton {
    display: block;
    text-align: center;
    margin-top: 20px;
  }
  
  #backButton {
    background-color:#1ee8af;
    color: #fff;
    border: none;
    padding: 10px;
    margin: 20px;
    cursor: pointer;
  }
  